@import 'variables';

$color: white;
$background: $secondary;

button,
.button,
.button:visited,
.button:active {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-family: $primary-font-family;
  font-weight: 700;
  padding: 1rem;
  background-color: $background;
  color: $color;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid $secondary;
  transition: $transition;
  opacity: 1;
  text-decoration: none;

  @media all and (max-width: $breakpoint-mobile) {
    width: 100%;
  }

  &:hover {
    color: $color;
    opacity: $opacity-on-hover;
  }

  &.ghost {
    background-color: transparent;
    border: 2px solid $background;
    color: $color;

    &:hover {
      background-color: $background;
      color: $color;
      opacity: 1;
    }
  }

}
