select {
  &.ghost {
    appearance: none;
    border: none;
    background: transparent right center no-repeat url("../../../static/images/caret-down-white.png");
    color: white;
    border-bottom: solid 1px white;
    width: auto;
    margin-bottom: 25px;
    position: relative;
    word-break: normal;
    font-size: .875rem;
    padding: 0 1rem 0 0;
    @media all and (max-width: $breakpoint-mobile) {
      font-size: .75rem;
    }

    // to remove arrow from IE11
    &::-ms-expand {
      display: none;
    }

  }
}
