@import "variables";

@font-face {
  font-family: 'Beatrice';
  src: url('../fonts/Beatrice-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Beatrice-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Beatrice-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Beatrice-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Beatrice-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beatrice';
  src: url('../fonts/Beatrice-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Beatrice-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Beatrice-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Beatrice-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Beatrice-Semibold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Beatrice Display';
  src: url('../fonts/BeatriceDisplay-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/BeatriceDisplay-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/BeatriceDisplay-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beatrice Display';
  src: url('../fonts/BeatriceDisplay-Medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/BeatriceDisplay-Medium.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/BeatriceDisplay-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
}

h1,
.like-h1 {
  font-size: 4.5rem;
  line-height: 5.125rem;
  text-transform: none;
  font-family: $secondary-font-family;
  font-weight: 700;
  @media all and (max-width: $breakpoint-mobile) {
    font-size: 2rem;
    line-height: 2.0625rem;
  }
}

h2,
.like-h2 {
  font-size: 3.5rem;
  line-height: 4.125rem;
  text-transform: none;
  font-family: $secondary-font-family;
  font-weight: normal;
  @media all and (max-width: $breakpoint-mobile) {
    font-size: 2rem;
    line-height: 4.125rem;
  }
}

h3,
.like-h3 {
  font-size: 1.6875rem;
  line-height: 2.125rem;
  text-transform: none;
  font-family: $secondary-font-family;
  font-weight: normal;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  text-transform: none;
  font-family: $primary-font-family;
  @media all and (max-width: $breakpoint-mobile) {
    line-height: 1.25rem;
  }
}

.subhead1 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  font-family: $primary-font-family;
  font-weight: normal;
  @media all and (max-width: $breakpoint-mobile) {
    font-size: 1.375rem;
    line-height: 1.375rem;
  }
  &.no-transform {
    text-transform: none;
  }
}

.subhead2 {
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-family: $primary-font-family;
  font-weight: normal;
  @media all and (max-width: $breakpoint-mobile) {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  &.no-transform {
    text-transform: none;
  }
}

.subhead3 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-transform: none;
  font-family: $primary-font-family;
  font-weight: normal;
}

.subhead4 {
  font-size: 1.375rem;
  line-height: 2rem;
  text-transform: none;
  font-family: $primary-font-family;
  font-weight: normal;
  @media all and (max-width: $breakpoint-mobile) {
    font-size: .875rem;
    line-height: 1.25rem;
  }
}

.subhead5 {
  font-size: .9rem;
  line-height: .9rem;
  letter-spacing: .1rem;
  font-family: $primary-font-family;
  text-transform: uppercase;
  font-weight: normal;
  @media all and (max-width: $breakpoint-mobile) {
    font-size: .8333rem;
    line-height: 1.25rem;
  }
  &.no-transform {
    text-transform: none;
  }
}

.subhead6 {
  font-size: .75rem;
  line-height: .75rem;
  letter-spacing: .1rem;
  font-family: $primary-font-family;
  text-transform: uppercase;
  font-weight: normal;
  &.no-transform {
    text-transform: none;
  }
}

.body-text1 {
  font-size: 1.375rem;
  line-height: 1.625rem;
  text-transform: none;
  font-family: $primary-font-family;
}

.body-text2 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-transform: none;
  font-family: $primary-font-family;
  @media all and (max-width: $breakpoint-mobile) {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.body-text3 {
  font-size: .98375rem;
  line-height: 1.4375rem;
  text-transform: none;
  font-family: $primary-font-family;
  @media all and (max-width: $breakpoint-mobile) {
    font-size: .75rem;
    line-height: 1rem;
  }
}

.body-text4 {
  font-size: .6875rem;
  line-height: 1rem;
  text-transform: none;
  font-family: $primary-font-family;
}
