$breakpoint-tablet: 1240px;
$breakpoint-mobile: 768px;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
$primary-font-family: 'Avenir', Arial, sans-serif;
$secondary-font-family: 'Montserrat', sans-serif;

//Colors
$white: #fff;
$black: #272023;
$light-gray: #f4f4f4;
$medium-gray: #ccc;
$dark-gray: #393939;

$primary: #018752;
$secondary: #0095da;
$tertiary: #9995da;
$quaternary: #918752;

$background-color: $white;

//Links
$link-color: $secondary;
$link-color-hover: $black;
$link-decoration: none;
$link-decoration-hover: none;

//Transitions
$transition: .2s all linear;
$opacity-on-hover: .8;
