@import "../variables";

.announcement-callout {
  padding: 50px 1rem;
  background-color: $medium-gray;

  .content {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: auto;

    p {
      margin-bottom: 20px;
    }

    .button {
      margin: 0 1rem 1rem 0;
      @media all and (max-width: $breakpoint-mobile) {
        width: 100%;
        margin: 0 0 20px 0;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
