@import "../variables";

.content-blade {
  background: $medium-gray;

  .cell {
    &.content-cell {
      padding: 80px;
      @media all and (max-width: $breakpoint-tablet) {
        padding: 40px;
      }
      @media all and (max-width: $breakpoint-mobile) {
        padding: 1rem;
      }

      .border {
        border-left: solid 1px black;
        padding-left: 2rem;
      }
    }

    &.image-cell {
      text-align: center;
    }
  }

  &.black {
    background: black;
    color: white;

    .cell {
      &.content-cell {
        .border {
          border-left: solid 1px white;
        }
      }
    }
  }

  .title {
    margin-bottom: 1rem;
  }
}
