@import "../variables";

.feature-grid {
  background-color: $medium-gray;
  opacity: 1;
  transition: $transition;

  &:hover {
    opacity: $opacity-on-hover;
  }

  &.gray {
    background-color: $medium-gray;
  }

  &.white {
    background-color: $background-color;
  }

  .description {
    padding: 10px 20px 40px 20px;

    .title {
      font-size: 12px;
      color: $dark-gray;
      text-transform: uppercase;
      margin-bottom: 5px;
      letter-spacing: 0.3px
    }

    .copy {
      font-size: 15px;
      color: $dark-gray;
      line-height: 22px;
      margin-bottom: 30px;
    }

    .caret-right {
      font-family: $semibold-font-family;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      color: $blue;
    }
  }

  a,
  a:visited,
  a:active {
    text-decoration: none;
    color: black;

    &:hover {
      color: black;
    }
  }
}
