@import "../variables";

.mini-hero {
  width: 100%;
  height: auto;
  min-height: 400px;
  display: flex;
  position: relative;

  @media all and (max-width: $breakpoint-mobile) {
    min-height: auto;
  }

  a.container-link {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .desktop-background,
  .mobile-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    @media all and (max-width: $breakpoint-mobile) {
      display: none;
    }
  }

  .mobile-background {
    display: none;
    @media all and (max-width: $breakpoint-mobile) {
      display: block;
    }
  }

  .container {
    display: flex;
    z-index: 1;

    .content {
      width: 500px;
      max-width: 100%;
      display: flex;
      padding: 80px 32px 80px 130px;
      align-self: flex-start;
      @media all and (max-width: $breakpoint-tablet) {
        width: auto;
        padding: 80px 32px;
      }
      @media all and (max-width: $breakpoint-mobile) {
        padding: 40px 0;
        div {
          width: 100%;
        }
      }

      p {
        color: white;
        margin-bottom: 25px;
        @media all and (max-width: $breakpoint-mobile) {
          margin-bottom: 0;
          &:last-of-type {
            margin-bottom: 10px;
          }
        }
      }

      .subhead5 {
        margin-bottom: 20px;
        font-weight: 700;
        color: white;
        @media all and (max-width: $breakpoint-mobile) {
          font-weight: normal;
          margin-bottom: 10px;
        }
      }

      .button {
        margin: 0 2rem 0 0;
        @media all and (max-width: $breakpoint-mobile) {
          width: 100%;
        }
      }

      &.regular {
        .like-h1,
        .like-h2,
        .like-h3 {
          font-family: $primary-font-family;
          font-weight: normal;
        }

        .like-h1 {
          margin-left: -6px; // accounts for space in the font so the right edges line up
        }

        .like-h2 {
          margin-left: -4px; // accounts for space in the font so the right edges line up
        }

        .like-h3 {
          margin-left: -2px; // accounts for space in the font so the right edges line up
        }
      }

      &.gray {
        p,
        .subhead5 {
          color: $dark-gray;
        }
      }

    }

    &.right {
      justify-content: flex-end;
      @media all and (max-width: $breakpoint-mobile) {
        justify-content: flex-start;
      }

      .content {
        align-self: flex-end;
        padding: 80px 32px 80px 0;
        width: 410px;
        max-width: 100%;
        @media all and (max-width: $breakpoint-tablet) {
          width: auto;
          padding: 80px 32px;
        }
        @media all and (max-width: $breakpoint-mobile) {
          padding: 40px 0 30px;
        }

      }
    }
  }
}
