@import "../variables";

.news-card {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: $transition;
  position: relative;

  &:hover {
    opacity: $opacity-on-hover;
    cursor: pointer;
  }

  a,
  a:visited,
  a:active {
    text-decoration: none;
    color: black;

    &:hover {
      color: black;
    }

    &.learn-more {
      color: $blue;
      font-weight: 700;
    }
  }

  img {
    top: 0;
    left: 0;
  }

  .title {
    padding: 20px;
    background: $medium-gray;

    p {
      margin-bottom: 20px;
      @media all and (max-width: $breakpoint-mobile) {
        margin-bottom: 12.5px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

}
