.sponsorship {
  padding: 2rem 0 1rem;
  @media all and (max-width: $breakpoint-mobile) {
    overflow-x: scroll;
    padding: 1rem 0 0.5rem;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .sponsorship-text {
    display: flex;
    align-items: center;

    p.text-brown {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .sponsorship-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (max-width: $breakpoint-mobile) {
      width: 225%;
      margin: 0 1rem;
    }

    .sponsorship-callout {
      display: inline-block;
      @media all and (max-width: $breakpoint-mobile) {
        margin: 0 0.5rem;
      }

      &:first-child {
        @media all and (max-width: $breakpoint-mobile) {
          margin-left: 0 !important;
        }
      }

      .text-logo-cell p {
        margin-bottom: 0;
        font-weight: bold;
      }
    }
  }
}
