.sponsorship {
    padding: 2rem;
    background-color: #e9e7e0;
    .sponsorship-text {
        display: flex;
        align-items: center;
        p.text-brown {
            font-weight: bold;
            margin-bottom: 0px;
        }
    }
    .sponsorship-container {
        display: flex;
        justify-content: space-between;
        .sponsorship-callout {
            display: inline-block;
            margin: 0 2rem;
        }
    }
}