@import "../variables";

.upcoming-shows-card {
  width: 100%;
  opacity: 1;
  transition: $transition;
  position: relative;

  &:hover {
    opacity: $opacity-on-hover;
    cursor: pointer;
  }

  a,
  a:visited,
  a:active {
    text-decoration: none;
    color: black;

    &:hover {
      color: black;
    }
  }


  img {
    top: 0;
    left: 0;
  }

  ul {
    list-style: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;

    li {
      background: $blue;
      padding: 8px 12px 0;
      float: left;
      margin: 0 10px 10px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      letter-spacing: .1rem;

      .month {
        font-size: .6875rem;
      }

      .day {
        font-size: 1.25rem;
      }
    }

  }

  .title {
    background: $medium-gray;
    padding: 20px;

    p {
      font-size: .9375rem;
      line-height: 1.375rem;

      &.date-range {
        font-size: .6875rem;
        line-height: 1.6875rem;
      }
    }
  }

  .buy-tickets {
    background-color: $light-gray;
    text-align: center;
    height: 40px;

    p {
      line-height: 40px;
      font-size: .75rem;
      text-transform: uppercase;
    }
  }

}
