@import "../variables";

.person-profile {
  color: white;
  .quote {
    padding: 100px 85px;

    &.blue {
      background-color: $blue;
    }

    .quotation-mark {
      font-size: 2rem;
      margin: 0 5px 0 0;

      &:last-of-type {
        margin: 0 0 0 5px;
      }
    }
  }
  .cta {
    position: relative;
    .content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 30px 35px;
      p {
        margin-bottom: 0;
      }
    }
  }
}
